<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= siteTitle %></title>
<meta name="referrer" content="never" />
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico">
<link rel="stylesheet" type="text/css" href="<%= themeConfig.domain %>/styles/main.css">